{% extends "quize/base.html" %}
{% block title %}Main Page{% endblock %}
{% block content %}
<link href="/static/css/login.css" rel="stylesheet">

      <form method="post" action="/login/" class="form-signin">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input id="username" type="text" name="username" class="input-block-level" placeholder="Username">
        <input type="password" id="id-password" name="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <input type="hidden" name="next" value="/" />
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
        <a href="/user/passwordlost" class="pull-right">Forgot Password</a>
      </form>
{% endblock %}

