{% extends "quize/base.html" %}
{% block title %}Add question{% endblock %}
{% block content %}
<link href="/static/app/css/login.css" rel="stylesheet">

<div class="row">
    <div class="span5">
<form method="post" action="." class="form-signin">{% csrf_token %}
    <h2 class="form-signin-heading">Add Your Question</h2>
    {{ form.as_p }}
    
   <!-- <p> <textarea cols="40" rows="3" id="id_text" name="question" type="text" placeholder="Type Your Question"></textarea></p>
    <p> <input id="id_opt1" name="opt1" type="text" placeholder="Option1"/></p>
    <p> <input id="id_opt2" name="opt2" type="text" placeholder="Option2"/></p>
    <p> <input id="id_opt3" name="opt3" type="text" placeholder="Option3"/></p>
    <p> <input id="id_opt4" name="opt4" type="text" placeholder="Option4"/></p>
    <p> <input id="id_ans" name="ans" type="text" placeholder="answer"/></p>
      <p> <input id="id_tag" name="tag" type="text" placeholder="tag"/></p>-->
       <button class="btn btn-large btn-primary" type="submit">submit</button> 
</form>
    </div>
</div>
{% endblock %}

