{% extends "quize/base.html" %}

{% block content %}
<div class="row">
  <div class="span2"></div>
  <div class="span7">
    <p>{{ q.text }}</p>
    <div class="opt">
      <label>Option 1: {{ q.opt1 }}</label>
    </div>
    <div class="opt">
      <label>Option 2: {{ q.opt2 }}</label>
    </div>
    <div class="opt">
      <label>Option 3: {{ q.opt3 }}</label>
    </div>
    <div class="opt">
      <label>Option 4: {{ q.opt4 }}</label>
    </div>
    <input type="hidden" name="question" value="{{q.id}}" />
    <br>
    <div class="footer">
      <div class="likes">
	<i class="icon-thumbs-up"></i>
	<span class="like">{{ q.num_likes }}</span>
	<i class="icon-thumbs-down"></i>
	<span class="unlike">{{ q.num_unlikes }}</span>
      </div>
      <div class="tags">
	{% for x in q.tag_set.all %}
	<a href="/tags/{{ x.name }}" > {{x.name}}</a>
	{% endfor %}
      </div>
    </div>
    <hr>
  

  
  {% load disqus_tags %}
  {% disqus_dev %}
  {% set_disqus_identifier 'question_' q.id %}
  {% load disqus_tags %}
  {% disqus_show_comments %}
  </div>
</div>
</div>
{% endblock %}
