{% if questions %}
<div class="row">
  <div class="span2"></div>
  <div class="span7">
{% for q in questions %}

<div class="question" id="qid_{{ q.id}}">
  <div class="header">
    {% if not hideHeader %}
    <label class="pull-right">X</label>
    {% endif %}
  </div>

  <div class="main-question">
    <form action="/answer/" method="get">{% csrf_token %}
      <p>{{ q.text }}</p>
      
      <div class="opt">
	<label><input type="radio" name="ans" value="1" />{{ q.opt1 }}</label>
      </div>
      <div class="opt">
	<label><input type="radio" name="ans" value="2" />{{ q.opt2 }}</label>
      </div>
      <div class="opt">
	<label><input type="radio" name="ans" value="3" />{{ q.opt3 }}</label>
      </div>
      <div class="opt">
	<label><input type="radio" name="ans" value="4" />{{ q.opt4 }}</label>
      </div>
      <input type="hidden" name="question" value="{{q.id}}" />

    </form>
  </div>

  <div class="footer">
    <div class="likes">
      {% if showLikes %}
      <i class="icon-thumbs-up"></i>
      <span class="like">{{ q.num_likes }}</span>
      <i class="icon-thumbs-down"></i>
      <span class="unlike">{{ q.num_unlikes }}</span>
      {% endif %}
    </div>
    {% if showTags %}
    <div class="tags">
      {% for x in q.tag_set.all %}
      <a href="/tags/{{ x.name }}" > {{x.name}}</a>
      {% endfor %}
    </div>
    {% endif %}
    <button class="pull-right btn">Sumit</button>
  </div>
  <hr>
</div>

{% endfor %}
</div>
</div>
{% else %}
<p> No Results found </p>
{% endif %}

