{% if questions %}
{% for q in questions %}
    <div class="question">
        <form action="/answer" method="post">
        <p>{{ q.text }}</p>
        
        <div class="opt"><input type="radio" name="ans" value="1" />{{ q.opt1 }}</div>
        <div class="opt"><input type="radio" name="ans" value="2" />{{ q.opt2 }}</div>
        <div class="opt"><input type="radio" name="ans" value="3" />{{ q.opt3 }}</div>
        <div class="opt"><input type="radio" name="ans" value="4" />{{ q.opt4 }}</div>
        {% for x in q.tag_set.all %}
            <a href="/tags/{{ x.name }}" > {{x.name}}</a>
        {% endfor %}
        <button>Sumit</button>
        </form>
    </div>
{% endfor %}
{% else %}
<p> No Results found </p>
{% endif %}

