{% extends "quize/base.html" %}
{% block title %}Main Page{% endblock %}
{% block content %}
    <div class="quiz-header">
        <p>Name {{ quize.quizeName }}</p>
        <p>Total Questions {{ quize.totalQuestion }}</p>
        <p>Time Allowd {{ quize.timeAllowed }}</p>
    </div>
    <a class="btn btn-primary" href="/quiz/{{ quize.id }}/start">Start</a>
    <hr>
    {% if uqs %}
    <h3> Result of previous attempts for this quize </h3>
    <div id="history">
        <table class="table table-hover">
                <tr>
                    <td>Id</td>
                    <td>Date Taken</td>
                    <td>Attempted</td>
                    <td>Correct</td>
		    <td></td>
                </tr>
        {% for uq in uqs %}
                <tr>
                    <td>{{ uq.id }}</td>
                    <td>{{ uq.start }}</td>
                    <td>{{ uq.totalAttempted }}</td>
                    <td>{{ uq.totalCorrect }}</td>
		    <td><a href="/result/quize/{{ uq.id }}" class="btn">
			Detailed Result</a>
		    </td>
                </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
{%endblock%}
