{% extends "quize/base.html" %}
{% block title %}Main Page{% endblock %}
{% block content %}
    <div class="quiz-header">
        <p>Name {{ quize.quizeName }}</p>
        <p>Total Questions {{ quize.totalQuestion }}</p>
        <p>Time Allowd {{ quize.timeAllowed }}</p>
    </div>
    <a class="btn" href="/quiz/{{ quize.id }}/start">Start</a>
    
    <div id="history">
        <table boder="1px" style="border-color: red">
                <tr>
                    <td>Id</td>
                    <td>Date Taken</td>
                    <td>Total Correct Answers</td>
                </tr>
        {% for uq in uqs %}
                <tr>
                    <td>{{ uq.id }}</td>
                    <td>{{ uq.start }}</td>
                    <td>{{ uq.totalCorrect }}</td>
                </tr>
        {% endfor %}
        </table>
    </div>
{%endblock%}
