{% if quizes %}
  <div class="span2"></div>
  <div class="span7">
    <table class="table table-hover">
       <tr>
         <th>Quizes</th>
         <th>Total Question</th>
         <th>Time Allowed</th>
       </tr>

{% for q in quizes %}
       <tr>
         <td>
           <div class="quize" id="quizeid_{{ q.id }}">
             <a href="/quiz/{{ q.id }}">{{ q.quizeName }}</a>
           </div>
         </td>
         <td>{{ q.totalQuestion }}</td>
         <td>{{ q.timeAllowed }}</td>
       </tr>
{% endfor %}

    </table>
  </div>
  </div>
{% else %}
<p> No Results found </p>
{% endif %}

